table, th, td {
    width: 30%;
    border: 2px solid blue;
}

input[type="button" i]{
    color: darkred;
}

/* Выставляем все label друг под другом */
label {
    display:block;
}

label > span{
    display:inline-block;
    width: 100px;
}

label > input{
    display:inline-block;
    width: 100px;
}
