<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wagon Demo</title>
    <link rel="stylesheet" href="./index.css" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $.getJSON('/wagon', function(data){
        $('#info').append(`
                  <tbody>${data.map(n => `
                    <tr>
                      <td>${n.id}</td>
                      <td>${n.number}</td>
                      <td>${n.weight}</td>
                      <td>${n.type}</td>
                    </tr>`).join('')}
                  </tbody>
`           );
    });
    </script>
</head>
<body>
<table border="1" id="info">
    <caption>wagon info</caption>
    <thead>
        <tr>
            <th>id</th>
            <th>number</th>
            <th>weight</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<form>
    <input type="text" id = "wagonId" value="0" />
    <br />
    <label>number</label>
    <p id = "num"></p>
    <label>weight</label>
    <p id = "weight"></p>
    <label>type</label>
    <p id = "type"></p>

    <input type="submit" id="car" onclick=onclick="getWagon();" />
</form>
<script>
    function getWagon() {
        let id1 = $("#wagonId").val();
        $.getJSON('/website/RESTfulService.svc/LiveLocation/json',
            {
                id: "id1",
            },
            function (data) {
                $("#num").append(``)
            });
    }
</script>
</body>
</html>

