<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wagon Demo</title>
    <link rel="stylesheet" href="../static/index.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $.getJSON('/wagons', function(data){
            // let table = document.getElementById("info").getElementsByTagName("TBODY")[0];
            // $.each(data, function(key, val){
            //     addRow();
            //     let k = 1;
            //     $.each(val, function (key1, val1){
            //         table.getElementsByTagName("tr")[key+1].getElementsByTagName("td")[k].innerHTML = val1;
            //         table.getElementsByTagName("tr")[key+1]
            //             .getElementsByTagName("td")[k]
            //             .getElementsByTagName("input")[0].value = val1;
            //         k++;
            //     });
            //
            // });
            $('tbody').append(`
                 ${data.map(n => `
                    <tr>
                      <td>${n.id}</td>
                      <td>${n.number}</td>
                      <td>${n.weight}</td>
                      <td>${n.type}</td>
                    </tr>`).join('')}

            `);
        });
    </script>
</head>
</head>
<body>
<table border="1" id="info">
    <caption>wagon info</caption>
    <thead>
        <tr>
            <th>id</th>
            <th>number</th>
            <th>weight</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</body>
</html>

